# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: "Publish Package"
on: 
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install Pipx & Poetry
        run: |
          python3 -m pip install --upgrade pip
          pip install pipx
          pipx install poetry
          # adiciona bin do pipx ao path de forma persistente
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Publish Package
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
          poetry publish --build
